{% extends 'base.html' %}

{% block title %}
Clinica DocHealth | Medicos
{% endblock %}

{% block body %}   

<h1 class="text-white">Medicos</h1>  

<table class="table table-striped table-light">
    <thead class="thead-light">
        <tr>
            <th>rut</th>
            <th>sucursal</th>
            <th>especialidad</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>usuario</th>
            <th>email</th>
        </tr>
    </thead>

    <tbody>
        {% for i in medicos %}
            <tr>
                <td> {{i.rut}} </td>
                <td>
                    {% if i.sucursal == 1 %}
                        Santa Juana
                    {% elif i.sucursal == 2 %}
                        Pichilemu
                    {% elif i.sucursal == 3 %}
                        Concepcion
                    {% endif %}
                </td>
                <td>
                    {% if i.especialidad == 1 %}
                        Odontologia
                    {% elif i.especialidad == 2 %}
                        Cardiología
                    {% elif i.especialidad == 3 %}
                        Anestesiología
                    {% endif %}
                </td>
                <td> {{i.nombre}} </td>
                <td> {{i.apellido}} </td>
                <td> {{i.usuario}} </td>
                <td> {{i.email}} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h3 class="text-white">
    {{error_msg}}
</h3>

{% endblock %}     